//colors
$pure-white: #fff;
$cream-bg: #f2eae2;
$aurometal-saurus: #6c7289;
$deep-aquamarine: #3d8168;
$deep-aquamarine-hover: #1a4032;
$gunmetal: #1c232b;

//fonts
$font-family: 'Montserrat', sans-serif;
$second-font-family: 'Fraunces', sans-serif;

//breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
