@import "./utils/variables";
@import "./utils/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $cream-bg;
}

.page-container {
  @include flex-center(column, center, center);
  height: 100vh;
}

.card {
  width: 600px;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: $pure-white;
  display: flex;

  &__content {
    .card__wrapper {
      margin: 0 auto;
      padding: 32px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__type {
    @include typography($font-family, 12px, 500, 0.42em, 0, $aurometal-saurus);
    text-transform: uppercase;
  }

  &__title {
    @include typography($second-font-family, 32px, 700, 0, 100%, $gunmetal);
    max-width: 236px;
  }

  &__description {
    @include typography($font-family, 14px, 500, 0, 164%, $aurometal-saurus);
    max-width: 236px;
  }

  &__image {
    display: block;
    background-image: url("../images/image-product-desktop.jpg");
    width: 300px;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__price {
    @include flex-center(row, center, center);
    max-width: 194px;
    gap: 19px;

    &--new {
      @include typography(
        $second-font-family,
        32px,
        700,
        0,
        100%,
        $deep-aquamarine
      );
    }

    &--old {
      @include typography($font-family, 13px, 500, 0, 177%, $aurometal-saurus, line-through);
    }
  }

  &__button {
    @include button($deep-aquamarine, $deep-aquamarine-hover);

    &-image {
      width: 14px;
      height: 16px;
    }

    &-text {
      @include typography($font-family, 14px, 700, 0, 164%, $pure-white);
    }
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  body {
    height: auto;
  }
  .page-container {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 50px;
  }

  .card__wrapper {
    padding: 24px;
  }
  .card {
    grid-template-columns: 1fr;
    width: 345px;
    height: auto;
    display: block;

    &__image {
      width: 100%;
      height: 240px;
      background-image: url("../images/image-product-mobile.jpg");
      background-size: cover;

      border-bottom-left-radius: 0;
      border-top-right-radius: 10px;
    }

    &__type {
      margin-bottom: 12px;
    }

    &__title {
      margin-bottom: 16px;
      max-width: 295px;
    }

    &__description {
      margin-bottom: 24px;
      max-width: 295px;
    }

    &__button {
      margin-top: 20px;
      width: 100%;
    }
  }
}
